.MyModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.45);
    z-index: 0;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.3s;
}
.MyModalContent{
    padding:20px;
    background: white;
    border-radius: 0;
    min-width: 250px;
    transform: translateY(30px);
    transition: .3s;
    transition-delay: 0.3s;
}

.MyModal.active{
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition-delay: 0s;
    
}
.MyModal.active .MyModalContent{
    transform: translateY(0px);
    transition-delay: 0s;
}
.MyModalClose{
    position: absolute;
    top: 5px;
    right: 9px;
    font-size: 22px;
    transform: rotate(45deg);
    cursor:pointer;
}